:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  max-width: 82.1rem;
  height: 100vh;
  margin: auto;
  font-family: 'Roboto', sans-serif;

  display: flex;
  align-items: center;
  gap: 19.2rem;
}

body.dark-mode {
  background: #121214;
}

body.dark-mode .text{
  color:#E1E1E6;
} 

body.dark-mode .buttons svg path,
body.dark-mode .sounds button svg path {
  fill: #E1E1E6;
}

body.dark-mode .sounds button{
  background-color: #29292E;
}

body.dark-mode .sounds input,
body.dark-mode .sounds input::-webkit-slider-thumb {
  background-color: #E1E1E6;
}

body.dark-mode .sounds button.selected {
  background-color: #0A3442;
}

.text {
  display: flex;
  justify-content: center;
  font-size: 12rem;
  font-weight: 500;
  line-height: 14.8rem;
  color: #323238;
}

.timer {
  width: 32.1rem;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.card input {
  margin-top: 3.2rem;
}

.card {
  height: 17rem;
  width: 17rem;
  background: #E1E1E6;
  padding: 4.8rem;
  border-radius: 2.4rem;
}

.sounds {
  width: 32.2rem;
  height: 32.2rem;
  display: grid;
  gap: 3.2rem;
  grid-template-areas: 
  "A B"
  "C D";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

input {
  position: fixed;
  z-index: 2;

  appearance: none;
  background: black;
  outline: none;
  opacity: 1;
  height: 4px;
  width: 125px;
  border-radius: 5px;
  transform: translateY(13rem) translateX(-14.8rem);
}

input::-webkit-slider-thumb {

  appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  cursor: pointer;
  border-radius: 500px;
}

input.swap,
input.swap::-webkit-slider-thumb {
  background-color: white
}

#tree {
  grid-area: A;
}

#rain {
  grid-area: B;
}

#coffee-shop {
  grid-area: C;
}

#fire {
  grid-area: D;
}

.hide {
  display: none;
}

.selected{
  background: #02799D;
}

.selected svg path{
  fill: white;
}

.light, .dark {
  position: fixed;
  top: 6rem;
  right: 6rem;
}

.text-dark {
  color: white;
}

.icon-dark {
  fill: #C4C4CC;
}

.card-dark {
  background-color: #29292E;
}

.input-range,
.input-range1,
.input-range2,
.input-range3 {
  accent-color: #323238;
}

.input-range-light{
  accent-color: white;
}
